.navigation {
	width: 100vw;
	height: fit-content;
	border-radius: 5px;
	background-color: rgb(97, 97, 97, 0.7);
	border: rpx solid rgb(97, 97, 97, 0.5);
}

.navigation a {
	padding: 3px;
	border-radius: 5px;
	background-color: black;
	border: 4px solid black;
	cursor: hand;
	color: white;
}

.space-grotesk-webteddy {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	background-image: url('bg.png');
	background-size: 500% 100%;
}
