.navigation {
	width: 98vw;
	margin: 1vw;
	height: 5vw;
	border-radius: 5px;
	background-color: rgb(97, 97, 97, 0.5);
	border: rpx solid rgb(97, 97, 97, 0.1);
}

.navigation a {
	padding: 3px;
	margin: 2vw;
	border-radius: 5px;
	background-color: black;
	border: 4px solid black;
	cursor: hand;
	color: white;
}

.space-grotesk-webteddy {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
